.button{
    background:gold;
    padding:1em 1em;
    border:black 2px solid;
    text-decoration:none;
    color:black;
    font-size:100px;
    font-family:sans-serif;
    text-align:center;
}
  
.block{
    display:block;
    margin:0 auto;
}

.resizebutton{
    width:75vw;
}

.resizeimage{
    width:25%;
    height:25%;
}
