html{
    touch-action: manipulation;
}

body{
    text-align: center;
}

.red{
    background: rgb(255, 100, 100);
}

.purple{
    background: rgb(255, 100, 255);
}

.blue{
    background: rgb(100, 100, 251);
}

.green{
    background: rgb(0, 255, 0);
}

.greenyellow{
    background: rgb(193, 255, 100);
}

.yellow{
    background: rgb(255, 255, 50);
}

.square{
    font-size: 60px;
    font-weight: 800;
    display: inline-block;
    width: 20%;
    padding: 5px;
    margin: 0 auto;
   
}

.number{
    color: black;
    border: black 2px solid;
    border-radius: 20px;
}

.empty{
    color: white;
}

.numbers{
    width: 55%;
    display: inline-block;
    font-size: 0;
} 

.function{
    display: inline-block;
    font-size: 30px;
    vertical-align: text-bottom;
}

.button{
    background: gold;
    padding: 1em 1em;
    border: black 2px solid;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    width: 100px;
    height: 40px;
}

.block{
    background: lightblue;
    padding: 1em 1em;
    border: black 2px solid;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: sans-serif;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    width: 120px;
    height: 40px;
}

@media screen and (max-width: 1100px){
    .numbers{
        width: 100%;
    }

    .function{
        display: block;
    }
}
